[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
	hist = log --pretty=format:\"\\%h \\%ad | \\%s\\%d [\\%an]\" --graph --date=short
[user]
	name = dhdhxji
	email = keysindie@gmail.com
[init]
	defaultBranch = main
[core]
	editor = vim
[color]
	ui = auto
[pull]
	ff = only
